In [1]:
import pandas as pd
import csv

In [8]:
#Ler o arquivo .csv
df = pd.read_csv("EloRatings.csv")
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

              date       club country      elo
0       2000-07-01     Aachen     GER  1453.60
1       2000-07-01    Aalborg     DEN  1482.61
2       2000-07-01      Aalst     BEL  1337.53
3       2000-07-01     Aarhus     DEN  1381.46
4       2000-07-01   Aberdeen     SCO  1360.43
...            ...        ...     ...      ...
240551  2024-12-15  Wolfsburg     GER  1670.33
240552  2024-12-15     Wolves     ENG  1652.57
240553  2024-12-15   Zaragoza     ESP  1488.54
240554  2024-12-15      Zenit     RUS  1634.92
240555  2024-12-15     Zwolle     NED  1404.68

[240556 rows x 4 columns]

In [12]:
#Transformando a coluna `Date` de str pra data.
df["date"] = pd.to_datetime(df["date"])
data_recente = df["date"].max()
print(data_recente)

2024-12-15 00:00:00

In [14]:
#Filtrando os ratings da data mais recente.
rating_atual = df[df["date"] == data_recente]
print(rating_atual)

             date           club country      elo
240149 2024-12-15        Aalborg     DEN  1339.41
240150 2024-12-15         Aarhus     DEN  1513.14
240151 2024-12-15       Aberdeen     SCO  1419.98
240152 2024-12-15  Ad. Demirspor     TUR  1299.50
240153 2024-12-15            AEK     GRE  1568.22
...           ...            ...     ...      ...
240551 2024-12-15      Wolfsburg     GER  1670.33
240552 2024-12-15         Wolves     ENG  1652.57
240553 2024-12-15       Zaragoza     ESP  1488.54
240554 2024-12-15          Zenit     RUS  1634.92
240555 2024-12-15         Zwolle     NED  1404.68

[407 rows x 4 columns]

In [28]:
#Encontrando o Top 5 atual.
top5_times = rating_atual.nlargest(5, "elo")["club"].tolist()
print(top5_times)

['Liverpool', 'Inter', 'Arsenal', 'Man City', 'Real Madrid']

In [29]:
#Filtrar os dados de todos os tempos para o Top 5
top5_data = df[df["club"].isin(top5_times)]
print(top5_data)

             date         club country      elo
26     2000-07-01      Arsenal     ENG  1871.66
167    2000-07-01        Inter     ITA  1794.38
201    2000-07-01    Liverpool     ENG  1770.10
218    2000-07-01     Man City     ENG  1579.94
292    2000-07-01  Real Madrid     ESP  1884.02
...           ...          ...     ...      ...
240172 2024-12-15      Arsenal     ENG  1975.82
240327 2024-12-15        Inter     ITA  1977.06
240368 2024-12-15    Liverpool     ENG  1991.39
240380 2024-12-15     Man City     ENG  1966.65
240454 2024-12-15  Real Madrid     ESP  1947.47

[2940 rows x 4 columns]